<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxservice">
            <SUBMENU id="mxfpocm" cl="fpocm_admin" list="fpocm_list">
                <TAB id="tbclfpocm_main" cl="fpocm_main" />
                <TAB id="tbclfpocm_adminlog" cl="fpocm_adminlog" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
